<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_2.jpg'); height: 680px">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center" style="margin-top: 24%">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
          class="mr-2"><a routerLink="home">Trang Chủ</a></span>|<span>&nbsp;Chuyến Đi</span></p>
        <br>
        <h1 class="mb-3 bread" style="font-size: 70px">Chuyến đi</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar">
        <div class="sidebar-wrap bg-light ">
          <h3 class="heading mb-4">Đánh giá của tôi</h3>
          <form method="post" class="star-rating">
            <div class="form-check">
              <label class="form-check-label">
                <p class="rate">
                                    <span>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <span>3.8</span>
                                    </span>
                </p>
              </label>
            </div>
          </form>
        </div>
      </div>

      <!--My Trip-->
      <div class="col-lg-9">
        <div class="col-md-12 hotel-single  mb-5 mt-5">
          <h4 class="mb-9">Những chuyến đi</h4>
          <div class="row">
            <!--                        đã đặt-->
            <div class="col-md-12">
              <div class="destination">
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <!--                                            ấn vào đây sang view detail-->
                      <h3><a href="hotel-single.html">Hotel, Italy</a></h3>
                      <p class="rate">
                        <span>Đánh giá</span>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>5 star</span>
                      </p>
                      <p class="rate">
                        <span>Đánh giá của bạn</span>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>5 star</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">$40<small>/2days</small></span>
                    </div>
                  </div>
                  <p>Ngày bắt đầu: <span>12/12/2022</span> - Ngày kết thúc: <span>20/12/2022</span></p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> Miami, Fl</span>
                    <span class="ml-auto"><button class="btn btn-primary" style="margin-left: 100px">Hủy</button></span>
                    <span class="ml-auto"><button class="btn btn-warning"
                                                  disabled>Chờ xác nhận</button></span>
                    <span class="ml-auto"><button class="btn btn-success"
                                                  disabled>Đã đặt</button></span>
                    <span class="ml-auto"><button class="btn btn-info"
                                                  disabled>Đang ở</button></span>
                    <span class="ml-auto"><button class="btn btn-dark"
                                                  disabled>Đã trả</button></span>
                    <span class="ml-auto"><button class="btn btn-danger" (click)="openRate()">Đánh giá</button></span>
                  </p>
                </div>
              </div>
            </div>

            <!--                        đã trả phòng-->
            <div class="col-md-12">
              <div class="destination">
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <!--                                            ấn vào đây sang view detail-->
                      <h3><a href="hotel-single.html">Hotel, Italy</a></h3>
                      <p class="rate">
                        <span>Homestay's rate</span>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>5 star</span>
                      </p>
                      <p class="rate">
                        <span>My rate</span>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>5 star</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">$40<small>/2days</small></span>
                    </div>
                  </div>
                  <p>Chủ nhà: <a href="">Abcd</a></p>
                  <p>Ngày bắt đầu: <span>12/12/2022</span> - Ngày kết thúc: <span>20/12/2022</span></p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> Miami, Fl</span>
                    <span class="ml-auto"><button class="btn btn-dark" style="margin-left: 520px"
                                                  disabled>Status</button></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="destination">
                <!--                                <a href="hotel-single.html" class="img img-2"-->
                <!--                                   style="background-image: url(images/hotel-2.jpg);"></a>-->
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <h3><a href="hotel-single.html">Hotel, Italy</a></h3>
                      <p class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>8 Rating</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">$40<br><small>/night</small></span>
                    </div>
                  </div>
                  <p>Far far away, behind the word mountains, far from the countries</p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> Miami, Fl</span>
                    <span class="ml-auto"><a href="#">Book Now</a></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="destination">
                <a href="hotel-single.html" class="img img-2"
                   style="background-image: url(assets/images/hotel-3.jpg);"></a>
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <h3><a href="hotel-single.html">Hotel, Italy</a></h3>
                      <p class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>8 Rating</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">$40<br><small>/night</small></span>
                    </div>
                  </div>
                  <p>Far far away, behind the word mountains, far from the countries</p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> Miami, Fl</span>
                    <span class="ml-auto"><a href="#">Book Now</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
