<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_2.jpg'); height: 680px">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
         data-scrollax-parent="true">
      <div class="col-md-9 text-center" style="margin-top: 24%">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
          class="mr-2"><a routerLink="home">Trang Chủ</a></span>|<span>&nbsp;Nhà Của Tôi</span></p>
        <br>
        <h1 class="mb-3 bread" style="font-size: 70px">Nhà Của Tôi</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar">
        <div class="sidebar-wrap bg-light ">
          <h3 class="heading mb-4">Đánh giá chung</h3>
          <form method="post" class="star-rating">
            <div class="form-check">
              <label class="form-check-label">
                <p class="rate">
                                    <span>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <span>3.8</span>
                                    </span>
                </p>
              </label>
            </div>
          </form>
        </div>
        <div class="sidebar-wrap bg-light ">
          <h3 class="heading mb-4">Quản lý</h3>
          <input (click)="openMyHomestay()" type="submit" value="Nhà Của Tôi" class="btn btn-primary py-3 px-5" style="width: 100%;">
          <hr>
          <input (click)="openMyBill()" type="submit" value="Đơn Thuê Nhà" class="btn btn-primary py-3 px-5" style="width: 100%;">
          <hr>
          <input (click)="openTurnOver()" type="submit" value="Doanh Thu" class="btn btn-primary py-3 px-5" style="width: 100%;">
        </div>
      </div>

      <!--            My Homestay-->
      <div class="col-lg-9" id="my-homestay">
        <div class="col-md-12 hotel-single  mb-5 mt-5">
          <input (click)="openCreateHome()" type="submit" value="Thêm Nhà" class="btn btn-info py-2 px-3"
                 style="width: 20%; margin-left: 635px">
        </div>
        <div class="col-md-12 hotel-single  mb-5 mt-5">
          <!--          <h1 class="mb-9">Related Hotels</h1>-->
          <div class="row">
            <div class="col-md-12">
              <div class="destination" *ngFor="let h of homestays">
                <img src="{{h.images}}" alt="" style="width: 795px; height: 200px">
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <h3><a href="hotel-single.html">{{h.name}}</a></h3>
                      <p *ngIf="h.roundRate == 0" class="rate">
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="h.roundRate == 1" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="h.roundRate == 2" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="h.roundRate == 3" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="h.roundRate == 4" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="h.roundRate == 5" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <span>{{h.avgRate}} Sao</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">{{h.price | currency :'đ' :true: '1.0-0'}}<br><small>/ngày</small></span>
                    </div>
                  </div>
                  <p>{{h.description}}</p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> {{h.address}}</span>
                    <span class="ml-auto"><button class="btn btn-warning"
                                                  style="margin-left: 520px" (click)="openEditStatus(h.id)">Edit</button></span>
                    <span class="ml-auto"><button class="btn btn-danger">Delete</button></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--                History-->
      <div class="col-lg-9" style="display: none" id="my-bill">
        <div class="col-md-12 hotel-single  mb-5 mt-5">
          <h4 class="mb-9">Related Hotels</h4>
          <div class="row">
            <div class="col-md-12" *ngFor="let b of yourBill">
              <div class="destination">
                <div class="text p-3">
                  <div class="d-flex">
                    <div class="one">
                      <h3><a href="hotel-single.html">{{b.homestayName}}</a></h3>
                      <p *ngIf="b.roundRate == 0" class="rate">
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="b.roundRate == 1" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="b.roundRate == 2" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="b.roundRate == 3" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <i class="icon-star-o"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="b.roundRate == 4" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-o"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                      <p *ngIf="b.roundRate == 5" class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <span>{{b.avgRate}} Sao</span>
                      </p>
                    </div>
                    <div class="two">
                      <span class="price per-price">{{b.price | currency :'đ' :true: '1.0-0'}}</span>
                    </div>
                  </div>
                  <p>Người đặt: <a href="">{{b.accountName}}</a></p>
                  <p>Ngày bắt đầu: <span>{{b.startDate}}</span> - Ngày kết thúc: <span>{{b.endDate}}</span></p>
                  <hr>
                  <p class="bottom-area d-flex">
                    <span *ngIf="b.statusHomeId == 1" class="ml-auto"><button class="btn btn-warning"
                                                  disabled>Chờ xác nhận</button></span>
                    <span *ngIf="b.statusHomeId == 2" class="ml-auto"><button class="btn btn-success"
                                                  disabled>Đã đặt</button></span>
                    <span *ngIf="b.statusHomeId == 3" class="ml-auto"><button class="btn btn-info"
                                                  disabled>Đang ở</button></span>
                    <span *ngIf="b.statusHomeId == 4" class="ml-auto"><button class="btn btn-dark"
                                                  disabled>Đã trả</button></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
