<form class="example-form">
  <h1 mat-dialog-title>Đổi mật khẩu</h1>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mật khẩu cũ</mat-label>
    <input type="password" matInput value="Hehe">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mật khẩu mới</mat-label>
    <input type="password" matInput value="Hehe">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nhập lại mật khẩu</mat-label>
    <input type="password" matInput value="Hehe">
  </mat-form-field>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
    <button type="submit" mat-raised-button color="primary">Xác Nhận</button>
  </div>
</form>
