<form class="example-form">
  <h1 mat-dialog-title>CẬP NHẬT TRẠNG THÁI</h1>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Tên Nhà</mat-label>
    <input type="text" matInput readonly>
  </mat-form-field>
  <section class="example-section">
    <label class="example-margin">Loại Phòng:</label>
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="1" style="margin-left: 30px">Phòng Đơn</mat-radio-button>
      <mat-radio-button class="example-margin" value="2" style="margin-left: 60px">Phòng Đôi</mat-radio-button>
      <mat-radio-button class="example-margin" value="3" style="margin-left: 50px">Phòng VIP</mat-radio-button>
      <br>
      <mat-radio-button class="example-margin" value="5" style="margin-left: 104px">Phòng Luxury</mat-radio-button>
      <mat-radio-button class="example-margin" value="4" style="margin-left: 43px">Phòng Tổng Thống</mat-radio-button>
    </mat-radio-group>
  </section>
  <div class="row">
    <div class="col-lg-7">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Địa Chỉ</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>Thành Phố</mat-label>
        <mat-select>
          <mat-option value="">Hà Nội</mat-option>
          <mat-option value="">Đà Nẵng</mat-option>
          <mat-option value="">Hồ Chí Minh</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>Số Lượng Phòng Ngủ</mat-label>
        <mat-select>
          <mat-option value="1">1 Phòng</mat-option>
          <mat-option value="2">2 Phòng</mat-option>
          <mat-option value="3">3 Phòng</mat-option>
          <mat-option value="4">4 Phòng</mat-option>
          <mat-option value="5">5 Phòng</mat-option>
          <mat-option value="6">6 Phòng</mat-option>
          <mat-option value="7">7 Phòng</mat-option>
          <mat-option value="8">8 Phòng</mat-option>
          <mat-option value="9">9 Phòng</mat-option>
          <mat-option value="10">10 Phòng</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field appearance="outline">
        <mat-label>Số Lượng Phòng Tắm</mat-label>
        <mat-select>
          <mat-option value="1">1 Phòng</mat-option>
          <mat-option value="2">2 Phòng</mat-option>
          <mat-option value="3">3 Phòng</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Giá tiền</mat-label>
        <input type="number" matInput placeholder="VNĐ">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mô tả</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <div class="row">
    <div class="col-lg-4">
      <section class="example-section">
        <label for="img">Chọn Ảnh</label>
        <img id="img" alt="" style="border-radius: 50%; width: 80%">
        <input type="file"
               multiple
               (change)="showPreview($event)"
               name="image"
               autocomplete="off">
      </section>
    </div>
    <div class="col-lg-8">
      <mat-chip style="background-color: rgba(0, 0, 0, 0)">
        <mat-chip-avatar style="margin-left: 20px">
          <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"
               style="border-radius: 50%; width: 25px"/>
        </mat-chip-avatar>
        <mat-chip-avatar style="margin-left: 20px">
          <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"
               style="border-radius: 50%; width: 25px"/>
        </mat-chip-avatar>
        <mat-chip-avatar style="margin-left: 20px">
          <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"
               style="border-radius: 50%; width: 25px"/>
        </mat-chip-avatar>
      </mat-chip>
    </div>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
    <button type="submit" mat-raised-button color="primary">Xác Nhận</button>
  </div>
</form>
